body{
    background-color: #2b2b2b;
}
.main{
    width: 70%;
    margin: 0 auto;
}
#list{
    color: #d3d3d3;
    text-align: center;
    padding: 0;
}
.list-item{
    list-style-type: none;
    border: 1px solid #d3d3d3;
}
.buttons{
    width: 70%;
    position: fixed;
    bottom: 0px;
    left: 15%;
}
button{
    width: 100%;
    color: #2b2b2b;
}
.list-item, button {
    line-height: 30px;
    margin-bottom: 10px;
}